body
{
  background: black;
  font-family: arial;

}
h1
{
	color: white;
}
.trans {
	color: grey;
	text-transform: uppercase;
	transition: all 5s linear;

}

button {
  background-color: grey;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
a{
	color: white ;
	text-decoration:none;
}
a:hover {
	  color: grey;
	  text-decoration: none;
}

.hero-image {
    position: relative;
    width: 75vw;
    height: 75vh;
}
.hero-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 20%;
    width: 100%;
    height: 100%;
    background: url("images/bb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    filter: brightness(100%);
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 39%;
  transform: translate(-50%, -50%);
  color: white;
  text-decoration: underline;;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}
.intro {
	color: white;

}
.books {
	color: white;
}
.row {
  display: flex;
}

.column {
  flex: 50.33px; 
  padding: 5px;
}
.final {
	color:grey;
	font-size:10px; 
}
.offer{
	color: 34130B;
}